<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DZRESTO is an explorer that displays various restaurants located in Indonesia">
    <title>DZRESTO</title>
</head>

<body>
    <a href="#maincontent" class="skip-link">Go to Content</a>

    <header>
        <h1 class="brand-logo" aria-label="brand logo DZRESTO" tabindex="0">DZRESTO</h1>

        <button type="button" id="menu-toggle" aria-label="drawer menu">
            <i class="icon fas fa-bars fa-fw"></i>
        </button>

        <nav>
            <ul class="nav-menu">
                <li class="menu-item"><a href="index.html">Home</a></li>
                <li class="menu-item"><a href="#">Favorite</a></li>
                <li class="menu-item"><a href="https://github.com/deri-kurniawan" target="_blank" rel="noopener">About
                        Us</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero" style="background: url(./images/heros/hero-image_2.jpg)">
        <h2 class="hero-title" tabindex="0">DZRESTO</h2>
        <p class="hero-description" tabindex="0">Explore Your Favorite Restaurant</p>
    </div>

    <main id="maincontent">

        <h2 class="section-title" tabindex="0">Explore Restaurant</h2>

        <div class="restaurant-list"></div>
    </main>

    <footer>
        <p>Copyright &copy; <span id="fullYear"></span> - <strong>DZRESTO</strong></p>
    </footer>
</body>

</html>