<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="DZRESTO is an explorer that displays various restaurants located in Indonesia">
  <meta name="theme-color" content="#000" />
  <link rel="manifest" href="manifest.json">
  <title>DZRESTO</title>
</head>

<body>
  <button class="skip-link" tabindex="0">Skip to Content</button>

  <app-bar></app-bar>

  <div class="hero" style="background: url(./images/heros/hero-image_2.jpg)">
    <h2 class="hero-title" tabindex="0">DZRESTO</h2>
    <p class="hero-description" tabindex="0">Explore Your Favorite Restaurant</p>
  </div>

  <main id="mainContent" tabindex="0" aria-label="main content">
    <div class="restaurant-list"></div>
  </main>

  <footer-copyright></footer-copyright>
</body>

</html>